.add_page_btn
{
	float:left;
    margin-bottom: 20px;
}

h2
{
	text-align: center;
}

#page_list_wrapper
{
   margin-top: 25px;
}

.head_section
{
    overflow: hidden;
    border-bottom: 2px solid lightgray;
}
.disabled
{
	pointer-events: none;
}